<!DOCTYPE html> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honestly Wtf</title>
    <link rel=”stylesheet” type=”text/css” href=”/public/css/style.css” />
    <%# <meta name="viewport" content="width=device-width, initial-scale=1"> %>
</head>

<body>
  <div class="wrapper">
    <!-- HEADER -->
    <h1>Honestly WTF</h1>
    <!-- SUB HEAD -->
<h2>My first web Application</h2>
<a href="/login">login</a> <a href="/signup">signup</a>
 

</body>
</html>
  