


<!DOCTYPE html> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honestly, Wtf</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
<div class="topnav">
  <a class="active" href="/login">SIGN IN</a>
  <a href="/signup">CREATE ACCOUNT</a>
</div>



<div class="header">

<h1>Honestly, WTF</h1>
</div>

<div class="intro">
 <p>Your private, effective and simple online journal for when 
    life becomes overwhelming! 
    Keep life moments and ideas always with you.
    </p>
</div>
</body>
</html>
  