<!DOCTYPE html> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honestly Wtf</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="wrapper">
    <!-- HEADER -->
    <h1><strong>Honestly WTF</strong></h1>
    <!-- SUB HEAD -->
<h2>My first web Application</h2>
<a href="/login">login</a> <a href="/signup">signup</a>
</div>
</body>
</html>
  