<!DOCTYPE html> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honestly, Wtf</title>
    <link rel="stylesheet" href="/login.css">
<body>
<div class="login-box">
<form method="POST" action="/login">
<h1> Login </h1>
<div class="textbox">
<input class="input" type="text" name="username" placeholder="Username">
</div>

<div class="textbox">
<input class="input" type="text" name="password" placeholder="Password">
</div>

<input type="submit" value="login">
</form>
</div>
</body>
</html>









