<h1> Login </h1>


<div class="field">
<form method="POST" action="/login">

<p>
  <input class="input" type="text" name="username" placeholder="Username">
</p>

<p>
  <input class="input" type="password" name="password" placeholder="Password">

</p>
<p>
  <input type="submit" value="login">
 
</p>
</form>
</div>