<h1> Create a new entry </h1>
<form method="POST" action="/entries">
<p> 
<label for="author">Author:</label>
<input type="text" name="author">
</p>
<p>
    <label for="mood">Mood:</label>
    <input type="text" name="mood">
</p>
<p>
<label for="body">Title:</label>
<input type="text" name="title">
</p>
<p>
<label for="body">Body:</label>
<input type="text" name="body">
</p>
<p>
  
<label for="time">Time:</label>
<input type="date" name="time">
</p>
<p>
<input type="submit" value="create">
</p>
</form>


<a href="/entries">back</a>



