<!DOCTYPE html> 

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Honestly, Wtf</title>
    <link rel="stylesheet" href="/show.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>


<div class="wrapper">
    <!-- HEADER -->
   <h1> Think positive, Be positive</h1>
    <!-- SUB HEAD -->
<h2>The world is yours..</h2>
    <div id="content">
  <form method="POST" action="/entries">
<p> 
<label for="author">Author:</label>
<input type="text" name="author">
</p>
<p>
    <label for="mood">Mood:</label>
    <input type="text" name="mood">
</p>
<p>
<label for="body">Title:</label>
<input type="text" name="title">
</p>
<p>
<label for="body">Body:</label>
<input type="text" name="body">
</p>

<p>
<input type="submit" value="create">
</p>
</form>
    
    <a href="/entries">back</a>
<%# <ul> 
<li>
 </ul> %>

    </div>
  </div>

</body>
</html>



