<h1> All Entries </h1>


<ul> 
     <% @entries.each do |entry| %>
        <li>
             <a href="/entries/<%=entry.id %>/edit">
                 "<%=entry.title %>" - <%= entry.author %>
            </a>
        </li>
    <% end %>
 </ul>


    <a href="/entries/new">New</a>
    <a href="/logout">Logout</a>